body{
  background-color: rgb(255, 219, 154);
}
.button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px; 
  border: 1px solid rgb(99, 99, 99);
}
.button.active{
  background-color: rgb(30, 30, 231); 
  cursor: pointer;
}

.button.disabled {
  background-color: #cccccc; 
  cursor: not-allowed; 
}
.generate-container{
  background-color: rgb(124, 110, 248);
  border: 1px solid rgb(99, 99, 99);
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
  border-radius: 12px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
/* SPINNER */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
}

.spinner {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333; 
  border-radius: 50%;
  width: 45px; 
  height: 45px; 
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

/* QRR COMPONENT */
.qr-container{
  background-color: rgb(124, 110, 248);
  width: 520px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgb(99, 99, 99);
  transition: all 2s ease-in-out;
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeAndSlideIn 1s ease forwards; 
}
@keyframes fadeAndSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.qr-code.active{
 background-color: #4CAF50;
}
.qr-code.disabled{
  background-color: red; 
  cursor: not-allowed; 
}
.qr-code{
  width: 160px;
  height: 170px;
  background-color: #4CAF50;
  border: 1px solid rgb(255, 219, 154);
  display: flex;
  align-items: center;
  justify-content: center;
}
.qr-code-second{
  height: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.timer{
  font-size: 26px;
  font-weight: bold;
}